<!-- Hero section -->
<section class="hero py-16">
  <div class="container mx-auto flex items-center justify-between">
    <div class="w-1/2">
      <h6 class="text-lg">
        <em>Are you crazy about your Lifestyle?</em>
      </h6>
      <h1 class="text-6xl font-bold">Don't Wait!</h1>
      <h4 class="text-3xl font-bold">
        <span style="color: #b23301">Four Corners</span> are right Here
      </h4>

      <button
        class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary"
      >
        Shop Now
      </button>
    </div>
    <div class="slideshow-container w-1/2">
      <div class="mySlides fade">
        <img src="/img/s1.png" style="max-width: 80%; max-height: 90%" />
      </div>

      <div class="mySlides fade">
        <img src="/img/s2.png" style="max-width: 86%; max-height: 90%" />
      </div>

      <div class="mySlides fade">
        <img src="/img/s3.png" style="max-width: 83%; max-height: 100%" />
      </div>
    </div>

    <br />
    <div>
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</section>

<!-- Hero section ends -->

<!-- Product Section Starts -->
<section class="product-section section" id="product">
  <div class="container-1">
    <!--  product heading -->
    <div class="row-1">
      <div class="section-title">
        <h2 data-heading="products and categories">Products</h2>
      </div>
    </div>
    <!--  product filter start -->
    <div class="row-1">
      <div class="product-filter">
        <span class="filter-item outer-shadow active" data-target="all"
          >All</span
        >
        <span class="filter-item" data-target="clothing">Clothing</span>
        <span class="filter-item" data-target="beauty"> Beauty </span>
        <span class="filter-item" data-target="electronic">Electronic</span>
        <span class="filter-item" data-target="grocery">Grocery</span>
        <span class="filter-item" data-target="kids-game">Kids</span>
      </div>
    </div>
    <!--  product filter end -->

    <!-- Modal -->

    <div class="row-1 product-items">
      <!-- 1st product -->
      <div class="product-item" data-category="clothing">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn1" class="product-item-img">
            <img src="/img/c2.png" alt="  Girls Wear" srcset="" />
          </div>
          <p class="product-item-title">Girl's Wear</p>
          <p class="product-item-title">BALAJI SHOP, Jaipur</p>

          <!-- The Modal -->
          <div id="myModal1" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-1" class="close">&times;</span>
              <h4>Girl's Wear</h4>
              <img src="/img/c2.png" alt="Girl's Wear" srcset="" />
              <p>
                Girl's Wear<br />
                <br />
                Balaji Shop, Jaipur
              </p>
              <br />
              <a href="" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 2nd product -->
      <div class="product-item" data-category="clothing">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn2" class="product-item-img">
            <img src="/img/c1.jpg" alt="Mens Wear" srcset="" />
          </div>
          <p class="product-item-title">Boy's Wear</p>
          <p class="product-item-title">Jailalita Shop , Delhi</p>

          <!-- The Modal -->
          <div id="myModal2" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-2" class="close">&times;</span>
              <h4>Boy's Wear</h4>
              <img src="/img/c1.jpg" alt="Boy's Wear" srcset="" />
              <p>
                Boy's Wear<br />
                <br />
                Jailalita Shop , Delhi
              </p>
              <br />
              <a href="" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 3rd product -->
      <div class="product-item" data-category="beauty">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn3" class="product-item-img">
            <img src="img/c8.png" alt="Make Up" srcset="" />
          </div>
          <p class="product-item-title">Beauty Collection</p>
          <p class="product-item-title">Noor Parlour , Mumbai</p>

          <!-- The Modal -->
          <div id="myModal3" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-3" class="close">&times;</span>
              <h4>Beauty Collection</h4>
              <img src="img/c8.png" alt="Make Up" srcset="" />
              <p>
                Beauty Collection.<br />
                <br />

                Noor Parlour , Mumbai<br />
              </p>
              <br />
              <a href="" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 4th product -->
      <div class="product-item" data-category="clothing">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn4" class="product-item-img">
            <img src="/img/c3.jpg" alt="Mens Wear" srcset="" />
          </div>
          <p class="product-item-title">Men's Wear</p>
          <p class="product-item-title">Aapni Dukan, Varansi</p>

          <!-- The Modal -->
          <div id="myModal4" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-4" class="close">&times;</span>
              <h4>Men's Wear</h4>
              <img src="/img/c3.jpg" alt="Men's Wear" srcset="" />
              <p>
                Men's Wear<br />
                <br />
                Aapni Dukan, Varansi
              </p>
              <br />
              <a href="" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 5TH Cerificate -->
      <div class="product-item" data-category="electronic">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn5" class="product-item-img">
            <img src="img/c13.png" alt="Headphone" srcset="" />
          </div>
          <p class="product-item-title">Headphone</p>
          <p class="product-item-title">Haryana</p>

          <!-- The Modal -->
          <div id="myModal5" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-5" class="close">&times;</span>
              <h4>Electronic Device</h4>
              <img src="img/c13.png" alt="Headphone" srcset="" />
              <p>
                Headphone <br />
                Haryana
              </p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 6th product -->
      <div class="product-item" data-category="clothing">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn6" class="product-item-img">
            <img src="img/c4.jpg" alt="Saree Collection" srcset="" />
          </div>
          <p class="product-item-title">Women's Saree</p>
          <p class="product-item-title">Lakshmipati Saree , Madhya Pradesh</p>

          <!-- The Modal -->
          <div id="myModal6" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-6" class="close">&times;</span>
              <h4>Women's Saree</h4>
              <img src="img/c4.jpg" alt="Saree Collection" srcset="" />
              <p>Lakshmipati Saree , Madhya Pradesh</p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 7th product -->
      <div class="product-item" data-category="kids-game">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn7" class="product-item-img">
            <img src="img/c6.png" alt="kids game" srcset="" />
          </div>
          <p class="product-item-title">Kids Game</p>
          <p class="product-item-title">Fun Zone , Allahabad</p>

          <!-- The Modal -->
          <div id="myModal7" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-7" class="close">&times;</span>
              <h4>Kids Game</h4>
              <img src="img/c6.png" alt="kids game" srcset="" />
              <p>Kids Game <br />Fun Zone , Allahabad</p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 8th product -->
      <div class="product-item" data-category="grocery">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn8" class="product-item-img">
            <img src="img/c11.png" alt="Diet Nutrients" srcset="" />
          </div>
          <p class="product-item-title">Diet Plan</p>
          <p class="product-item-title">Kota , Rajasthan</p>

          <!-- The Modal -->
          <div id="myModal8" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-8" class="close">&times;</span>
              <h4>Diet Plan</h4>
              <img src="img/c11.png" alt="Diet Nutrients" srcset="" />

              <p>
                Diet Plan <br />
                Kota , Rajasthan
              </p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
      <!-- 9th product -->
      <div class="product-item" data-category="electronic">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn9" class="product-item-img">
            <img src="img/c10.jpg" alt="Devices" srcset="" />
          </div>
          <p class="product-item-title">Smart Devices</p>
          <p class="product-item-title">Rambagh , Lucknow</p>

          <!-- The Modal -->
          <div id="myModal9" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-9" class="close">&times;</span>
              <h4>Smart Devices</h4>
              <img src="img/c10.jpg" alt="Devices" srcset="" />
              <p>
                Smart Devices <br />
                Rambagh , Lucknow
              </p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 10th product -->
      <div class="product-item" data-category="beauty">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn10" class="product-item-img">
            <img src="img/c9.png" alt="Beauty Kit" srcset="" />
          </div>
          <p class="product-item-title">Make Up Kit</p>
          <p class="product-item-title">Surat , Gujarat</p>

          <!-- The Modal -->
          <div id="myModal10" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-10" class="close">&times;</span>
              <h4>Make Up Kit</h4>
              <img src="img/c9.png" alt="Beauty Kit" srcset="" />
              <p>
                Make Up Kit <br />
                Surat, Gujarat
              </p>

              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 11TH Cerificate -->
      <div class="product-item" data-category="grocery">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn11" class="product-item-img">
            <img src="img/c12.png" alt="Fruits" srcset="" />
          </div>
          <p class="product-item-title">Fresh Fruits</p>
          <p class="product-item-title">Gaziabad , Delhi</p>

          <!-- The Modal -->
          <div id="myModal11" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-11" class="close">&times;</span>
              <h4>Fresh Fruits</h4>
              <img src="img/c12.png" alt="Fruits" srcset="" />
              <p>
                Fresh Fruits <br />
                Gaziabad , Delhi
              </p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 12TH Cerificate -->
      <div class="product-item" data-category="kids-game">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn12" class="product-item-img">
            <img src="/img/c5.jpg" alt="Kid Wear" srcset="" />
          </div>
          <p class="product-item-title">Kids Wear</p>
          <p class="product-item-title">Jai Bharat, Pratapgarh</p>

          <!-- The Modal -->
          <div id="myModal12" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-12" class="close">&times;</span>
              <h4>Kids Wear</h4>
              <img src="/img/c5.jpg" alt="Kids Wear" srcset="" />
              <p>Kids Wear <br />Jai Bharat, Pratapgarh</p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>

      <!-- 13th product -->
      <div class="product-item" data-category="kids-game">
        <div class="product-item-inner outer-shadow">
          <!-- Trigger/Open The Modal -->
          <div id="myModalBtn13" class="product-item-img">
            <img src="img/c7.jpg" alt="kids game" srcset="" />
          </div>
          <p class="product-item-title">Kids Game</p>
          <p class="product-item-title">Fun Zone , Agra</p>

          <!-- The Modal -->
          <div id="myModal13" class="modal">
            <!-- Modal content -->
            <div class="modal-content outer-shadow">
              <span id="close-13" class="close">&times;</span>
              <h4>Kids Game</h4>
              <img src="img/c7.jpg" alt="kids game" srcset="" />
              <p>Kids Game <br />Fun Zone , Agra</p>
              <a href="#" target="_blank"><button>Buy Now</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Product Section  -->
<section class="menu container mx-auto py-8">
  <h1 class="font-bold mb-8 text-center" style="font-size: 26px">
    Handmade & Handcrafted
  </h1>
  <div class="grid grid-cols-4 gap-y-12 gap-x-16">
    <!-- yhn p product backened k code se aya kuki hmne home controller se home page render kiya toh product k json bhi bheja -->

    <% products.forEach((product)=>{ %>
    <div class="w-64">
      <img class="h-40 mx-auto mb-4" src="/img/<%=product.image%>" alt="" />
      <div class="text-center">
        <h2 class="text-lg mb-4"><%= product.name %></h2>
        <span class="size py-1 px-4 rounded-full uppercase test-xs"
          ><%= product.size %></span
        >
        <div class="flex items-center justify-around mt-6">
          <span class="font-bold text-lg">₹<%= product.price %></span>
          <button
            data-product="<%= JSON.stringify(product)%>"
            class="
              add-to-cart
              py-1
              px-6
              rounded-full
              flex
              items-center
              font-bold
            "
          >
            <span>+</span>
            <span class="ml-4">Add</span>
          </button>
        </div>
      </div>
    </div>
    <% })%>
  </div>
</section>
